@use "sass:color";
@use "sass:map";
// responsive break point: https://www.lightningdesignsystem.com/utilities/visibility/#Responsive

// sample color set 2 [Start]

$bt-primary: (
  100: #91C855, // for header and buttons
  200: #4E890E, // font button fonts color
  300: #71AD35, // tooltips
);

$bt-secondary: (
  100: #1E4646,
  // 200: #51e0c5,
  // 300: color.adjust(#51e0c5, $lightness: 75%),
  // 400: color.adjust(#51e0c5, $lightness: 50%),
  // 500: color.adjust(#51e0c5, $lightness: 25%),
);

$bt-tertiary: (
  100: #E6F4D3,
  200: #D4F3ED,
  300: #CEFF9A,
  400: #FFFFC6,
  500: #FFDED7,
  600: #0DC44A,
  700: #FCE460,
  800: #E14526,
  850: #C9C9C9,
  900: #c9c9c999,
  // 300: color.adjust(#2c3785, $lightness: 75%),
  // 400: color.adjust(#2c3785, $lightness: 50%),
  // 500: color.adjust(#2c3785, $lightness: 25%),
);

// Theme Accent Colors
// $bt-accent: (
//   100: #ed4b68,
//   150: #ffa4b4,
//   200: #ffd5dc,

//   250: #e2a300,
//   300: #f1bd38,
//   350: #fcd97d,
//   400: #fff1cd,

//   500: #37824E,
//   600: #E692FF,
//   700: #BEBEBE,
// );
// sample color set 2 [END]

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #F3F3F3; //UI Accent - Light
$gray-200: #F0F4F0; //
$gray-300: #DDDBDA; //input bg
$gray-350: #E7E7E7; // nav bg
$gray-375: #D7D7D7; // nav left border
$gray-400: #C9C9C9; // mid grey
$gray-500: #6B6B6B; // placeholder color
$gray-600: #868686; // UI Accent
$gray-700: #505050;
$gray-750: #444; // Gray_02/90
$gray-800: #121212; //label color
$gray-900: #080707; // Text
$black: #000;
// scss-docs-end gray-color-

//General Accent Colors Overwrite
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$rust: #841400;
$grey: #a8b7c7;
$lightBlue: #078abf;
$lime: #6bb807;
$brown: #ba6747;
$darkbrown: #45230e;
$inkblue: #2f3bc1;
$dodgerBlue: #0085ff;
$darkYellow: #B89C00;
$warning2: #FFFF6F66;

// Theme color Variables [Start]
$primary: map.get($bt-primary, 100);
$secondary: map.get($bt-secondary, 100);

$success: map.get($bt-primary, 100);
$info: $blue;
$warning: $darkYellow;
$danger: map.get($bt-tertiary, 800) !default;

$light: $gray-200 !default;
$dark: $gray-900 !default;
// Theme color Variables [END]

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,

  //adding theme color in bootstrap mixin to auto generte related classes
  // theme primary set
  "bt-primary-100": map.get($bt-primary, 100),
  "bt-primary-200": map.get($bt-primary, 200),
  "bt-primary-300": map.get($bt-primary, 300),
  // "bt-primary-400": map.get($bt-primary, 400),
  // "bt-primary-500": map.get($bt-primary, 500),

  // theme secondary set
  "bt-secondary-100": map.get($bt-secondary, 100),
  // "bt-secondary-200": map.get($bt-secondary, 200),
  // "bt-secondary-300": map.get($bt-secondary, 300),
  // "bt-secondary-400": map.get($bt-secondary, 400),
  // "bt-secondary-500": map.get($bt-secondary, 500),
  
  // theme tertiary set
  "bt-tertiary-100": map.get($bt-tertiary, 100),
  "bt-tertiary-200": map.get($bt-tertiary, 200),
  "bt-tertiary-300": map.get($bt-tertiary, 300),
  "bt-tertiary-400": map.get($bt-tertiary, 400),
  "bt-tertiary-500": map.get($bt-tertiary, 500),
  "bt-tertiary-600": map.get($bt-tertiary, 600),
  "bt-tertiary-700": map.get($bt-tertiary, 700),
  "bt-tertiary-800": map.get($bt-tertiary, 800),
  "bt-tertiary-850": map.get($bt-tertiary, 850),
  "bt-tertiary-900": map.get($bt-tertiary, 900),

  // theme accent set
  // "bt-accent-50": map.get($bt-accent, 100),
  // "bt-accent-100": map.get($bt-accent, 100),
  // "bt-accent-150": map.get($bt-accent, 150),
  // "bt-accent-200": map.get($bt-accent, 200),
  // "bt-accent-250": map.get($bt-accent, 250),
  // "bt-accent-300": map.get($bt-accent, 300),
  // "bt-accent-350": map.get($bt-accent, 350),
  // "bt-accent-400": map.get($bt-accent, 400),

  //gray-shades
  "white": $white,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-350": $gray-350,
  "gray-375": $gray-375,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-750": $gray-750,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "black": $black,

  // accent random color
  "blue": $blue,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "darkYellow": $darkYellow,
  "warning2": $warning2,
  // "indigo": $indigo,
  // "purple": $purple,
  // "pink": $pink,
  // "teal": $teal,
  // "cyan": $cyan,
  // "rust": $rust,
  // "grey": $grey,
  // "lightBlue": $lightBlue,
  // "lime": $lime,
  // "brown": $brown,
  // "darkbrown": $darkbrown,
  // "inkblue": $inkblue,
  // "dodgerBlue": $dodgerBlue,
);
// scss-docs-end theme-colors-map

//defualt fonts
$dfont: Arial, Helvetica, sans-serif !important;
$tfont: "Times New Roman", Georgia, Serif !important;

//Fonts (Check _fonts.scss)
$primary-font-family: "Galano Grotesque", sans-serif;
// $secondary-font-family: #{$lato}, sans-serif;

// Typography
$font-size-base: $var-font-size-3; //bootstrap 5 overwrite
$bfsize: $font-size-base; //alias
$bfweight: normal;
$bfcolor: $gray-900;

//Font Family
$font-family-base: $primary-font-family; //bootstrap 5 overwrite
$bffamily: $font-family-base; //alias

//font weight
$font-weight-lighter: 100 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 800 !default;

// Link
$link-color: map.get($bt-primary, 200); //bootstrap 5 overwrite
$link-hover-color: color.adjust($link-color, $lightness: -15%) !default;
$link-decoration: none;
$link-hover-decoration: $link-decoration;

// Heading
// $headings-margin-bottom:      $spacer * .5 !default;
$headings-font-family: $primary-font-family !default;
$headings-font-style: null !default;
$headings-font-weight: $font-weight-semibold !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$hdffamily: $headings-font-family; //alias
$hdfweight: $headings-font-weight;
$hdColor: $headings-color;

$hd1: calc($bfsize + toRem(48)); //64px
$hd2: calc($bfsize + toRem(24)); //40px
$hd3: calc($bfsize + toRem(8)); //24px
$hd4: calc($bfsize + toRem(4)); //20px
$hd5: calc($bfsize + toRem(2)); //18px
$hd6: $bfsize; //16px

//bootstrap 5 heading overwrites
$h1-font-size: $hd1;
$h2-font-size: $hd2;
$h3-font-size: $hd3;
$h4-font-size: $hd4;
$h5-font-size: $hd5;
$h6-font-size: $hd6;

//font sizes and line-height for short class
$fontSizes: (
  0, 8, 9, 10, 11, 12, /* 13, */ 14, 15, 16, 17, 18, /* 19, */ 20, 22, 24, /* 25, */  26, /* 27, */ 28, 30, 32, /* 34, */ /* 36, */ /* 38, */ 40, /* 45, */ 48, /* 50, */ /* 56, */ /* 60, */ 64, /* 65, */ /* 70, */ 72, /* 75, */ /* 80 */
);
//Margin/Padding
$magpads: (
  0, 1, 2, 3, 4, 5, 7, 6, 8, 9, 10, 12, 13, 14, 15, 17, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 35, /* 36, */ 38, 40, 42, /* 45, */ 46, 48, 50, /* 55, */ /* 57, */ 60, /* 64, */ /* 65, */ 70, /* 71, */ /* 72, */ /* 73, */ 75, 80, /* 85, */ /* 90, */ /* 95, */ /* 100, */ /* 105, */ /* 110, */ /* 115, */ /* 116, */ /* 117, */ /* 118, */ /* 119, */ /* 120, */ /* 125, */ /* 130, */ /* 135, */ /* 136, */ /* 140, */ /* 145, */ /* 150, */ /* 155, */ /* 160, */ /* 165, */ /* 170, */ /* 175, */ /* 180 */
);
//Width
$widths: (
  14, 16, 17, 20, 22, 23, 24, 32, 40, 60, 64, 80, 95, 96, 100, 105, 120, 130, 140, 160, 180, 200, 230, 240, 250, 270, 280, 300, 360, 380, 400, 420, 480, 500, /* 620, */ /* 650, */ /* 670 */
);

$gaps: (
  2, 4, 6, 7, 8, 10, 11, 12, 14, 16, 17, 18, 20, 21, 22, 24, 26, 28, 30, 32, 40
);

// border radius
$borderRadius: (0, 2, 4, 5, 6, 8, 10, 12, 14, 16, 18, 20, 200);


$mq-medium: toRem(1023);
$mq-mediumPlus1: toRem(1024);
$mq-mediumLarge: toRem(1800);
$mq-large: toRem(1280);
$mq-large-max: toRem(1440);

$grid-breakpoints: (
  xs: 0,
  xsm: 320px,
  sm: 480px,
  md: 920px,
  lg: 1024px,
  pxl: 1280px,
  //for pixel zoom screens
  xl: 1440px,
  xxl: 1920px,
) !default;

// input fields [Start]
$input-font-color: $bfcolor;
$input-font-color-placeholder: $gray-500;
$input-label-color: $gray-800;
$input-label-fontsize: toRem(16);
$input-label-asteric-fontsize: toRem(11);
$input-label-asteric-color: $rust;
$input-border-color: transparent;
$input-border-width: 0;
$input-border-type: solid;
$input-border-radius: toRem(12);
$input-backgorund-color: $white;
$input-padding: toRem(4);
// $input-padding-compact: toRem(5) rem(8);
// $select-padding-compact: toRem(5) rem(8);
$input-icon-right-padding: toRem(26);
$input-disable-backgorund-color: $gray-350;
// $input-disable-label-color: $input-label-color;
$input-disable-font-color: $gray-600;

$input-file-dropzone-width : 100%;
$input-file-dropzone-height: toRem(145);
$input-file-dropZone-border: toRem(1) dashed $gray-375;

// input fields [END]
// button [Start]
$button-font-family: $bffamily;
$button-font-color: $gray-900;
$button-font-size: $bfsize;
$button-font-weight: $font-weight-bold;
$button-line-height: normal;
$button-padding: toRem(8) toRem(16);
// $button-padding-mobile: toRem(6) rem(12);
// $button-padding-sm: toRem(4) rem(12);
$button-border-radius: toRem(6);
$button-border: none;

// disabled
$button-disabled-bg: $gray-600;
$button-disabled-font-color: color.adjust($gray-600, $lightness: -10%);
// link
$button-link-font-color: map.get($bt-primary, 100);
$button-link-hover-font-color: color.adjust(map.get($bt-primary, 100), $lightness: -10%);
// primary
$button-primary-font-color: map.get($bt-secondary, 100);
$button-primary-bg: map.get($bt-primary, 100);
$button-primary-bg-hover: color.adjust(map.get($bt-primary, 100), $lightness: -10%);
$button-primary-bg-active: $button-primary-bg-hover;
$button-primary-focus: $button-primary-bg-hover;

// secondary
$button-secondary-font-color: map.get($bt-primary, 100);
$button-secondary-bg: map.get($bt-secondary, 100);
$button-secondary-bg-hover: color.adjust(map.get($bt-secondary, 100), $lightness: -10%);
$button-secondary-bg-active: $button-secondary-bg-hover;
$button-secondary-focus: $button-secondary-bg-hover;


// outline primary
$button-outline-primary-font-color: map.get($bt-primary, 100);
$button-outline-primary-bg: transparent;
$button-outline-primary-font-color-hover: $white;
$button-outline-primary-bg-hover: map.get($bt-primary, 100);
$button-outline-primary-border: map.get($bt-primary, 100);
$button-outline-primary-focus: $button-outline-primary-bg-hover;


// outline secondary
$button-outline-secondary-font-color: map.get($bt-secondary, 100);
$button-outline-secondary-bg: transparent;
$button-outline-secondary-font-color-hover: map.get($bt-primary, 100);
$button-outline-secondary-bg-hover: map.get($bt-secondary, 100);
$button-outline-secondary-border: map.get($bt-secondary, 100);
$button-outline-secondary-focus: $button-outline-secondary-bg-hover;

// button [END]

// Alert Box
$alert-bg-color: $gray-400;
$alert-font-size: toRem(14);
$alert-font-weight: $font-weight-medium;
$alert-font-color: $bfcolor;
$alert-padding: toRem(14) toRem(16);
$alert-border-width: toRem(1);
$alert-border-type:solid;
$alert-border-color: $gray-500;
$alert-border-radius: toRem(12);
$alert-icon-font-size:toRem(16);

//compact style
$alert-compact-font-size: toRem(12);
$alert-compact-font-weight: $font-weight-medium;
$alert-compact-font-color: $bfcolor;
$alert-compact-padding:toRem(4);
$alert-compact-border-radius: toRem(4);

//danger
$alert-danger-font-color:$danger;
$alert-danger-bg-color: $rust;
$alert-danger-border-color:$rust;

$alert-danger-outlined-font-color:$danger;
$alert-danger-outlined-bg-color: transparent;
$alert-danger-outlined-border-color: $rust;

//warning
$alert-warning-font-color:$warning;
$alert-warning-bg-color: $yellow;
$alert-warning-border-color: $yellow;

$alert-warning-outlined-font-color:$warning;
$alert-warning-outlined-bg-color: transparent;
$alert-warning-outlined-border-color: $yellow;

//success
$alert-success-font-color:$success;
$alert-success-bg-color: map.get($bt-primary, 100);
$alert-success-border-color: map.get($bt-primary, 100);

$alert-success-outlined-font-color:$success;
$alert-success-outlined-bg-color: transparent;
$alert-success-outlined-border-color: map.get($bt-primary, 100);

//info
$alert-info-font-color:$info;
$alert-info-bg-color:color.adjust($info, $lightness: 53%);
$alert-info-border-color: $info;

$alert-info-outlined-font-color:$info;
$alert-info-outlined-bg-color: transparent;
$alert-info-outlined-border-color: $info;


// Main Layout config
$sidebarCol-width: toRem(315);
$contentCol-width: calc(100vw - ($sidebarCol-width - toRem(8)));

// Badge [Start]
$badge-font-size: toRem(12);
$badge-font-weight: $font-weight-medium;
$badge-lineheight: "130%";
$badge-padding: toRem(6) toRem(12);
$badge-border-radius: toRem(6);
$badge-default-bg: $gray-100;
$badge-default-color: $gray-900;


// $badge-base: (
//   primary: (bg: $primary, color: $white),
//   secondary: (bg: $secondary, color: $black),
//   100: (bg: map.get($bt-accent, 100), color: $white),
//   200: (bg: map.get($bt-accent, 300), color: $bfcolor),
//   300: (bg: map.get($bt-accent, 600), color: $bfcolor),
//   400: (bg: map.get($bt-accent, 700), color: $white),
//   500: (bg: map.get($bt-secondary, 100), color: $black),
//   600: (bg: map.get($bt-primary, 100), color: $white),
//   700: (bg: $gray-100, color: $bfcolor),
//   800: (bg: orange, color: $bfcolor),
//   900: (bg: #BEF5E1, color: $bfcolor),
//   1000: (bg: #37824E, color: $white),
//   1100: (bg: #7F3BF4, color: $white),
//   1200: (bg: $white, color: $gray-900),
  
//   1300: (bg: map.get($bt-accent, 300 ), color:$black),
//   1400: (bg: map.get($bt-primary, 100 ), color:$white),
//   1500: (bg: map.get($bt-accent, 600 ), color:$black),
//   1600: (bg: map.get($bt-accent, 500 ), color:$white),
//   1700: (bg: map.get($bt-accent, 100 ), color:$white),
// );

// $badge-colors: (
//   bl-issued: map.get($badge-base, 200),
//   bl-paymentProcessing: map.get($badge-base, 300),
//   bl-paymentFailed: map.get($badge-base, 100),
//   bl-paid: map.get($badge-base, 500),
//   bl-overdue: map.get($badge-base, 100),
//   bl-voidProcessing: map.get($badge-base, 300),
//   bl-voidFailed: map.get($badge-base, 100),
//   bl-voided: map.get($badge-base, 400),
//   bl-refundProcessing: map.get($badge-base, 300),
//   bl-refundFailed: map.get($badge-base, 100),
//   bl-refunded: map.get($badge-base, 400),
//   bl-new: map.get($badge-base, 800),

//   cc-new: map.get($badge-base, 1300),
//   cc-inProgress: map.get($badge-base, 1400),
//   cc-moreInfoNeeded: map.get($badge-base, 1500),
//   cc-closed: map.get($badge-base, 1600),
//   cc-closedDenied: map.get($badge-base, 1700),

//   pending-info: map.get($badge-base, 200),
//   in-process: map.get($badge-base, 600),
//   in-negotiations: map.get($badge-base, 300),
//   onHold: map.get($badge-base, 800),
//   pending-payment: map.get($badge-base, 900),
//   paid: map.get($badge-base, 1000),
//   closed: map.get($badge-base, 1100),
//   filter: map.get($badge-base, 1200),
//   danger: map.get($badge-base, 100),
//   issued: map.get($badge-base, 200),
//   new: map.get($badge-base, secondary),
//   all-others: map.get($badge-base, 700),
//   primary: map.get($badge-base, primary),
//   secondary: map.get($badge-base, secondary),
// );

// Badge [Start]

// Modal [Start]
$modal-padding: toRem(20);
$modal-border-radius: toRem(8);
$modal-heading-size: $hd4;
$modal-heading-color: $primary;
$modal-heading-font-weight: $font-weight-semibold;
// Modal [END]

//icons
@import './partials/icons';
