.amr-ctaTile {
	border: 1px solid $gray-375;
	background: $gray-100;
	padding: toRem(30);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-decoration: none !important;
	color: $gray-900;
	border-radius: toRem(6);
	transition: none;
	height: 100%;
	&:hover{
		background: $primary;
		color: $white;
		.amr-ctaTile_icon{
			color: $white;
		}
	}

	&_icon {
		font-size: toRem(36);
		color: $primary;
		margin-bottom: toRem(12);
	}

	&_title {
		font-size: toRem(20);
		font-weight: $font-weight-semibold;
	}
}