@use "sass:map";
// Alert [Start]
.slds-notify{
  &.onPageTop{
    border-radius: 0 !important; border-left: 0 !important; border-right:0 !important;
  }
  &.slds-notify_alert {
    background:none $alert-bg-color; color: $alert-font-color; font-weight: $alert-font-weight !important; padding: $alert-padding; border:$alert-border-width $alert-border-type $alert-border-color; border-radius: $alert-border-radius;

    h2{font-size: toRem(14); font-weight: $font-weight-medium; line-height: toRem(20);}

    //alert-danger
    &.slds-alert_error{
      background: $alert-danger-bg-color; color:$alert-danger-font-color; border-color: $alert-danger-border-color;
      // .slds-alert-icon{}
    }
    //alert-warning
    &.slds-alert_warning{
      background: $alert-warning-bg-color; color:$alert-warning-font-color; border-color: $alert-warning-border-color;
    }
    //alert-info
    &.slds-alert_info{
      background: $alert-info-bg-color; color:$alert-info-font-color; border-color: $alert-info-border-color;
    }
    //alert-success
    &.slds-alert_success{
      background: $alert-success-bg-color; color:$alert-success-font-color; border-color: $alert-success-border-color;
    }

    // alert outline
    &.slds-alert-outlined{background: transparent}

    //icon
    .slds-alert-icon{font-size: $alert-icon-font-size;}
    //message
    .slds-alert-message{color:$bfcolor;}

    // Alert Compact Style
    &.slds-alert-compact{width: fit-content; font-size: $alert-compact-font-size; font-weight: $alert-compact-font-weight; padding: $alert-compact-padding; display: flex; gap: toRem(4); justify-content: start; border-radius: $alert-compact-border-radius;}

  }
}
// Alert [END]

// Snackbar [Start]
.amr-snackbar{
  display: flex;
  align-items: center;
  gap: toRem(8);
  border-radius: toRem(6);
  padding: toRem(12);
}
.amr-snackbar_icon-container{
  @include square(toRem(20), 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.amr-snackbar_icon{
  font-size: toRem(12);
}
.amr-snackbar_text{
  font-size: toRem(14);
}
//error
.amr-snackbar_error{
  background: map.get($bt-accent, 100);
  .amr-snackbar_icon-container{
    background: $white;
  }
  .amr-snackbar_icon{
    color: map.get($bt-accent, 100);
  }
  .amr-snackbar_text{
    color: $white;
  }
}
// success
.amr-snackbar_success{
  background: map.get($bt-accent, 500);
  .amr-snackbar_icon-container{
    background: $white;
  }
  .amr-snackbar_icon{
    color: map.get($bt-accent, 500);
  }
  .amr-snackbar_text{
    color: $white;
  }
}
// Snackbar [END]
