// Badge [Start]
.badge {background-color: $badge-default-bg; color: $badge-default-color; font-size: $badge-font-size; font-weight: $badge-font-weight; line-height: normal; padding: $badge-padding; border-radius: $badge-border-radius; 

  // badges generator
  // @include badge-variants;

}
// Badge [END]