@font-face {
    font-family: 'Galano Grotesque';
    src: local('Galano Grotesque Bold Italic'), local('GalanoGrotesque-BoldItalic'),
        url('./../fonts/GalanoGrotesque-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Galano Grotesque';
    src: local('Galano Grotesque Bold'), local('GalanoGrotesque-Bold'),
        url('./../fonts/GalanoGrotesque-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Galano Grotesque';
    src: local('Galano Grotesque Regular'), local('GalanoGrotesque-Regular'),
        url('./../fonts/GalanoGrotesque-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Galano Grotesque';
    src: local('Galano Grotesque Medium'), local('GalanoGrotesque-Medium'),
        url('./../fonts/GalanoGrotesque-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Galano Grotesque';
    src: local('Galano Grotesque Italic'), local('GalanoGrotesque-Italic'),
        url('./../fonts/GalanoGrotesque-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Galano Grotesque';
    src: local('Galano Grotesque Medium Italic'), local('GalanoGrotesque-MediumItalic'),
        url('./../fonts/GalanoGrotesque-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Galano Grotesque';
    src: local('Galano Grotesque Semi Bold Italic'), local('GalanoGrotesque-SemiBoldItalic'),
        url('./../fonts/GalanoGrotesque-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Galano Grotesque';
    src: local('Galano Grotesque Semi Bold'), local('GalanoGrotesque-SemiBold'),
        url('./../fonts/GalanoGrotesque-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }