// help tooltip
.customInfo{
 
  &.primaryTooltip{
    lightning-helptext{
      .slds-button{
        @extend .filter-primary-100;
      }
      .slds-form-element__icon {
        padding: 0;
      }
    }
  }
}