@use "sass:map";
/* Input [Start] */
.amr-output-fld{
  padding: $input-padding !important;
  .slds-form-element__label{font-weight: bold;}

  a{@extend .text-link;}

  .slds-icon-utility-check, .slds-icon-utility-steps {
    @extend .border-gray-500;
    @include square(16px);

    display: flex;
    align-items: center;
    justify-content: center;

    svg{
      @include square(10px);
      @extend .filter-primary-100;
      transform: translateY(-2px);
    }
  }
  .slds-icon-utility-steps{
    svg{opacity: 0;}
  }
}

.amr-input-fld{
  .slds-form-element__control{
    .slds-input{
      padding-left: var(--slds-c-input-spacing-inline-start, var(--slds-c-input-spacing-horizontal-start, var(--sds-c-input-spacing-horizontal-start, var(--lwc-spacingSmall,0.75rem))));
      padding-right: var(--slds-c-input-spacing-inline-start, var(--slds-c-input-spacing-horizontal-start, var(--sds-c-input-spacing-horizontal-start, var(--lwc-spacingSmall,0.75rem))));
    }
  }
}

.slds-form-element{
  // no label
  &.nolabel{
    .slds-form-element__label{display: none;}
  }
}

// File upload with drag and drop
.fileUploaderWrapper {
  .fld-fileUploader{position: relative; 
    .slds-form-element{
      .slds-form-element__label{display: none !important;}
      .slds-form-element__control{
        .slds-file-selector_files,
        .slds-file-selector__dropzone,
        .slds-file-selector__dropzone > slot,
        .slds-file-selector__input,
        .slds-file-selector__body
        {width: $input-file-dropzone-width; height: $input-file-dropzone-height;}

        .slds-file-selector__body{opacity: 0; position: absolute; z-index: 10;}
        .slds-file-selector__dropzone{border:$input-file-dropZone-border; @extend .brd-6; @extend .trans-3all;
          
          //hover
          &:hover{border-color: $primary; box-shadow: 0 0 toRem(5) rgba($primary, 50%);}
        }
      }
    }    
    .beforeuploadContent,
    .fld-fileUploader,
    .slds-file-selector__body{@extend .cursor-pointer;}
  }
  .beforeuploadContent{width:calc(100% - 50px) !important; height: 145px; z-index: 0;}
  .uploadedFiles{flex:0 1 toRem(300); border:$input-file-dropZone-border;
    .file-icon{width: toRem(25);}
  
  }
  .btn-upload{border-radius: toRem(200);}
}

.no-resize{
  .slds-textarea{
    resize: none;
  }
}

.textarea-large{
  .slds-textarea{
    min-height: toRem(124) !important;    
  }
}
